@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }
}

@keyframes circleup {
    from {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(-5px);
    }

    10% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-5px);
    }

    20% {
        transform: translateY(0px);
    }
}