.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/backgrounds/bg_shoes.jpg') center (center/cover) no-repeat;

    &_descr {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 80px;
    }
}